layout {
    gaps 10
    center-focused-column "never"
    always-center-single-column

    // Widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.5
        proportion 1.0
        proportion 0.75
    }

    // Heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights { 
        proportion 0.5
        proportion 1.0
        proportion 0.75
        proportion 0.25
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        off
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        // off
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 10
        offset x=5 y=5
        color "#0007"
        inactive-color "#0007"
    }
}

animations {
    // off
    // slowdown 3.0
}

blur {
    // off
    passes 5
    offset 3
    noise 0.05
    saturation 1.0
}

